#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  max-height: 50px;
  min-width: 800px;
  z-index: 1;
  color: #f2f2f2;
}

.topnav div {
  display: flex;
  align-items: center;
  vertical-align: top;
  width: 50%;
  height: auto;
  text-align: left;
  padding: 0px 16px;
}
.topnav ul {
  width: 100%;
  justify-content: right;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  min-height: 300px;
  padding: 15px 15px;
  margin-top: 50px;
  scroll-margin-top: 50px;
  align-content: center;
}

.fadein_animation {
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    padding-top: 50px;
  }
  to {
    opacity: 1;
    padding-top: 15px;
  }
}

.type-writer {
  font-style: oblique;
  font-weight: bold;
  text-shadow: 2px 2px 4px #7e7d7d;
  letter-spacing: 0.05em;
  background: linear-gradient(to right, #0c0386, #810763);
  -webkit-background-clip: text;
  color: transparent;
}

#tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 100px;
}

.contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-email img {
  padding: 0 5px;
  cursor: copy;
}

.contact-linkedin {
  padding: 10px 0px;
}

.aboutme-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;

}