.project-container {
    background-color: white;
    border-style:outset;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    max-width: 500px;
    min-width: 500px;
    padding: 10px 10px;
    margin-top: 10px;
}

.project-container div {
    padding: 5px 5px;
}