.workexp-container {
    background-color: #929191;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    padding: 3px 10em;
    margin-top: 10px;
}

.workexp-header {
    display:flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.workexp-header span {
    display: inline-flex;
    float: left;
    justify-content: center;
    justify-items: center;
    width: fit-content;
}

.workexp-default {
    max-height: 0;
    overflow: hidden;
}

.workexp-collapse {
    animation: collapse 1s ease-out forwards;
}

.workexp-expand {
    animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
    from {
        max-height: 0px;
    }
    to {
        max-height: 1000px;
    }
}

@keyframes collapse {
    from {
        max-height: 1000px;
    }
    to {
        max-height: 0px;
    }
}

#jobtitle {
    font-weight: bold;
    padding: 15px 15px;
}

#company {
    color:darkblue;
    padding: 15px 15px;
}

#timeline {
    padding: 15px 15px;
}

#expand_icon {
    padding: 15px 15px;
}

.workexp-techstack-container {
    margin: 5px 5px;
}